<% var data = {
  title: "Gudfood",
}; %>

<%= _.template(require('./../includes/header.html'))(data) %>

<section class="hero">
  <div class="hero__social">
    <a href="">facebook</a>
    <a href="">instagram</a>
  </div>
  <a href="" class="hero__scroll">↓</a>
  <div class="hero__logo">
    <div class="wrapper">
      <div class="hero__logo-wrapper">
        <a href="" class="hero__logo-link"></a>
      </div>
    </div>
  </div>
  <div class="wrapper" style="position:relative">
    <h2 class="hero__title">Сучасні гарячі <span>обіди</span> <br> для вашого офісу</h2>
    <a href="" class="hero__play">Відео</a>
  </div>
  <div class="hero__form">
    <div class="wrapper">
        <div class="hero__form-wrapper">
          <form action="">
        <div class="form-row">
          <div class="form-item">
            <input class="form-input" type="text" name="" id="" placeholder="E-mail">
          </div>
          <div class="form-item">
            <input class="form-input" type="text" name="" id="" placeholder="Ім’я">
          </div>
        </div>
        <div class="form-row">
          <div class="form-item">
            <input class="form-input" type="text" name="" id="" placeholder="Телефон">
          </div>
          <div class="form-item">
            <input class="form-input" type="text" name="" id="" placeholder="Компанія">
          </div>
        </div>
        <button type="submit" class="btn-submit">Надіслати заявку</button>
          </form>
        </div>
    </div>
  </div>
</section>

<section class="why">
  <div class="wrapper">
    <h2>Чому компаніÏ<br>обирають GUDFOOD?</h2>
    <div class="why__list">
      <div class="why__item">
        <div class="why__item-content">
          <h3><span class="why__icon why__icon--1"></span>Смачно</h3>
          Понад 200 рецептів з усіх куточків світу в меню GUD, тільки свіжі сезонні продукти і великі порції.

        </div>
      </div>
      <div class="why__item">
        <div class="why__item-content">
          <h3><span class="why__icon why__icon--2"></span>Комфортно і просто</h3>
          Окремий гарний холодильник, система попередніх замовлень, власний support-менеджер зроблять роботу офісу ще ефективнішою.
        </div>
      </div>
      <div class="why__item">
        <div class="why__item-content">
          <h3><span class="why__icon why__icon--3"></span>Доступно</h3>
          Використовуючи локальні продукти і виробляючи понад 3 000 обідів щодня, ми робимо доступні ланчі для кожної компанії.
        </div>
      </div>
    </div>
  </div>
</section>

<section class="menu">
  <div class="wrapper">
    <h2>меню gudfood</h2>
    <div class="menu__content">
      <div class="menu__intro">
        <div>
          Ми використовуємо рецепти азійської, американської, тайської, італійської, європейської кухонь, а наші кухарі оновлюють їх що два тижні.
          <br><br><br><br>
          <a href="" class="menu__all"><b>Отримати все меню</b></a>
        </div>
      </div>

      <div class="slick-menu">
        <div data-number="01" class="menu__slide">
          <div class="menu__container">
            <div class="menu__text"></div>
            <div class="menu__video">
              <img src="http://gudfood.com.ua/images/menu-11.jpg" alt="">
              <div class="menu__name">Медальйони з яловичини з овочами гриль</div>
            </div>
          </div>
        </div>
        <div data-number="02" class="menu__slide">
          <div class="menu__container">
            <div class="menu__text"></div>
            <div class="menu__video">
              <img src="http://gudfood.com.ua/images/menu-12.jpg" alt="">
              <div class="menu__name">Медальйони з ялови</div>
            </div>
          </div>
        </div>
        <div data-number="03" class="menu__slide">
          <div class="menu__container">
            <div class="menu__text"></div>
            <div class="menu__video">
              <img src="http://gudfood.com.ua/images/menu-4.jpg" alt="">
              <div class="menu__name">Медальйони з яловичини з овочами гриль</div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    
  </div>
</section>

<section class="howitworks">
  <div class="wrapper">
    <h2>Як це працює?</h2>
    <div class="slick-howitworks">
      <div data-number="01" class="howitworks__slide">
        <div class="howitworks__container">
          <div class="howitworks__text">
            Ваш співробітник робить попереднє замовлення в нашій онлайн-системі.
          </div>
          <div class="howitworks__video">
            <img src="/images/how1.png" alt="">
          </div>
        </div>
      </div>
      <div data-number="02" class="howitworks__slide">
        <div class="howitworks__container">
          <div class="howitworks__text">
            У зручний час ми доставляємо замовлення у рефрижераторах.
          </div>
          <div class="howitworks__video">
            <img src="/images/how2.png" alt="">
          </div>
        </div>
      </div>
      <div data-number="03" class="howitworks__slide">
        <div class="howitworks__container">
          <div class="howitworks__text">
            Співробітник забирає з холодильника свій сніданок/обід/вечерю у зручний для нього час.
          </div>
          <div class="howitworks__video">
            <img src="/images/how3.png" alt="">
          </div>
        </div>
      </div>
      <div data-number="04" class="howitworks__slide">
        <div class="howitworks__container">
          <div class="howitworks__text">
            Насолоджується смаком<br>улюблених страв.
          </div>
          <div class="howitworks__video">
            <img src="/images/how4.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="conception">
  <div class="wrapper">
    <h2>Концепція</h2>
    <div class="conception__content">
      <div class="conception__text">
        <p>Протягом останніх п’яти років
          ми поступово змінювали ринок корпоративного харчування Києва, перевіряли гіпотези і постійно пробували щось нове. І у нас вийшло!</p>
        <p>Ми створили сервіс сучасних гарячих обідів для офісів. <br>
          Ми взяли за основу ідею, що кожен співробітник має отримати на обід ту страву, яку він би замовив
          у своєму улюбленому кафе або ресторані, але в рамках бюджету компанії.</p>
        <br>
        <br>
        <br>
        <a href="">Надіслати заявку</a>
      </div>
      <div class="conception__image">
        <img src="/images/conception.jpg" alt="">
      </div>
    </div>
  </div>
</section>

<section class="pack">
  <div class="wrapper">
    <h2>Упаковка</h2>
    <div class="pack__content">
      <div class="pack__text">
        <p>Наші ланч-бокси вироблені
з екологічних матеріалів, які піддаються 100%-вій переробці. <br>Вони абсолютно безпечні для довкілля.</p>
        <p>На кожному ланч-боксі розміщений QR-код, який можна зісканувати
і залишити свій відгук.</p>

      </div>
    </div>
  </div>
</section>

<section class="budget">
  <div class="wrapper">
    <h2>Бюджети на 1-го<br>співробітника на день</h2>
    <div class="budget__content">
      <div class="budget__item">
        <div class="budget__price">
          120-140 <small>грн</small>
        </div>
        <p>
          <b>Гаряча страва</b> <br>
          250 грн з гарніром
        </p>
        <p>
          <b>Суп/салат/десерти</b> <br>
          2 на вибір
        </p>
        <ul class="list">
          <li>Онлайн-система замовлень</li>
          <li>Безплатна доставка</li>
          <li>Маркування продукції</li>
        </ul>
      </div>
      <div class="budget__item budget__item--second">
        <p>
          <b>Гаряча страва</b> <br>
          2 350 грн з гарніром
        </p>
        <p>
          <b>Суп/салат/десерти</b> <br>
          2 на вибір
        </p>
        <ul class="list">
          <li>Онлайн-система замовлень</li>
          <li>Безплатна доставка</li>
          <li>Маркування продукції з ПІБ</li>
          <li>Окремі пакети </li>
        </ul>
        <div class="budget__price budget__price--second">
          160-200 <small>грн</small>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="degustation">
  <div class="wrapper">
    <div class="degustation__content">
      <div class="degustation__text">
        Безплатна<br>
        дегустація
        <br>
        <br>
        <a href=""><b>Замовити</b></a>
      </div>
      <div class="degustation__video">
        <a href="" class="hero__play">Відео</a>
      </div>
    </div>
  </div>
</section>

<section class="steps">
  <div class="wrapper">
    <h2>5 легких кроків для старту</h2>
    <div class="steps__item steps__item--1">
      <div class="steps__number">1</div>
      <h4 class="steps__title">Аналіз</h4>
      <div class="steps__text">Кожен офіс унікальний! Ми проводимо аналіз розміру компанії, смаків, дієтичних особливостей і уподобань співробітників у кожному офісі.
      </div>
    </div>

    <div class="steps__item steps__item--2">
      <div class="steps__number">2</div>
      <h4 class="steps__title">Дегустація</h4>
      <div class="steps__text">Безплатна дегустація</div>
    </div>

    <div class="steps__item steps__item--3">
      <div class="steps__number">3</div>
      <h4 class="steps__title">Вибір</h4>
      <div class="steps__text">Оберіть бюджет. Ми можемо запропонувати різні варіанти і підлаштуватися під вимоги компанії.</div>
    </div>

    <div class="steps__item steps__item--4">
      <div class="steps__number">4</div>
      <h4 class="steps__title">Встановлення</h4>
      <div class="steps__text">Встановлення GUDFOOD bar (нашого вітринного холодильника) безплатне.</div>
    </div>

    <div class="steps__item steps__item--5">
      <div class="steps__number">5</div>
      <h4 class="steps__title">Щастя</h4>
      <div class="steps__text">Ваша компанія — найкраща і вже користується сучасним сервісом, який забезпечує якісне смачне харчування
для ваших співробітників.</div>
    </div>
  </div>
</section>

<section class="clients">
  <div class="wrapper">
    <h2>Наші клієнти</h2>
    <div class="slick-clients">
      <div data-number="01" class="clients__slide">
        <div class="clients__container">
          <div class="clients__text">
            Може, секрет успішних компаній<br>
            в тому, чим вони обідають?<br>
            <b>Спитали в Genesis.</b>
          </div>
          <div class="clients__video" style="background-image: url('/images/client-bg.jpg')">
            <a href="" class="hero__play"></a>
          </div>
        </div>
      </div>
      <div data-number="02" class="clients__slide">
        <div class="clients__container">
          <div class="clients__text">
            Може, секрет успішних компаній<br>
            в тому, чим вони обідають?<br>
            <b>Спитали в Genesis.</b>
          </div>
          <div class="clients__video" style="background-image: url('/images/client-bg.jpg')">
            <a href="" class="hero__play"></a>
          </div>
        </div>
      </div>
      <div data-number="03" class="clients__slide">
        <div class="clients__container">
          <div class="clients__text">
            Може, секрет успішних компаній<br>
            в тому, чим вони обідають?<br>
            <b>Спитали в Genesis.</b>
          </div>
          <div class="clients__video" style="background-image: url('/images/client-bg.jpg')">
            <a href="" class="hero__play"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="expirenza">
  <div class="wrapper">
    <h2>Платформа зворотного<br>зв’язку для бізнесу <span>Expirenza</span></h2>
  </div>

  <div class="expirenza__content">
    <div class="wrapper">
      <a href="">Дізнайся більше</a>
    </div>
  </div>

</section>

<section class="footer">
  <div class="wrapper">
    <h2><span>Подзвоніть нам зараз</span><br>і отримайте sample-меню<br>для вашого офісу</h2>

    <div class="footer__content">
      <div class="footer__tel">
        <div class="footer__messengers"><b>Telegram / Viber / Whatsapp</b></div>
        <div class="footer__tel-number"><b>+380 68 368 41 84</b></div>
      </div>
      <div class="footer__social">
        <a href="">facebook</a>
        <a href="">instagram</a>
      </div>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="wrapper">
      <div class="footer__bottom-content">
        Дизайн сайта — <a href=""><b>Havas Kyiv design</b></a> <br>
        © GudFood 2019. Працюємо з 2011 року.
      </div>
      
    </div>
  </div>
</section>



<%= _.template(require('./../includes/footer.html'))(data) %>