<% var data = {
  title: "Gudfood",
}; %>

<%= _.template(require('./../includes/header.html'))(data) %>

<section class="hero">
  <div class="hero__social">
    <a href="">facebook</a>
    <a href="">instagram</a>
  </div>
  <a href="" class="hero__scroll">↓</a>
  <div class="hero__logo">
    <div class="wrapper">
      <div class="hero__logo-wrapper">
        <a href="" class="hero__logo-link"></a>
      </div>
    </div>
  </div>
  <div class="wrapper" style="position:relative">
    <h2 class="hero__title">Сучасні гарячі <span>обіди</span> <br> для вашого офісу</h2>
    <a href="" class="hero__play">Відео</a>
  </div>
  <div class="hero__form">
    <div class="wrapper">
        <div class="hero__form-wrapper">
          <form action="">
        <div class="form-row">
          <div class="form-item">
            <input class="form-input" type="text" name="" id="" placeholder="E-mail">
          </div>
          <div class="form-item">
            <input class="form-input" type="text" name="" id="" placeholder="Ім’я">
          </div>
        </div>
        <div class="form-row">
          <div class="form-item">
            <input class="form-input" type="text" name="" id="" placeholder="Телефон">
          </div>
          <div class="form-item">
            <input class="form-input" type="text" name="" id="" placeholder="Компанія">
          </div>
        </div>
        <button type="submit" class="btn-submit">Надіслати заявку</button>
          </form>
        </div>
    </div>
  </div>
</section>

<section class="why">
  <div class="wrapper">
    <h2>Чому компаніÏ<br>обирають GUDFOOD?</h2>
    <div class="why__list">
      <div class="why__item">
        <div class="why__item-content">
          <h3><span class="why__icon why__icon--1"></span>Смачно</h3>
          Понад 200 рецептів з усіх куточків світу в меню GUD, тільки свіжі сезонні продукти і великі порції.

        </div>
      </div>
      <div class="why__item">
        <div class="why__item-content">
          <h3><span class="why__icon why__icon--2"></span>Комфортно і просто</h3>
          Окремий гарний холодильник, система попередніх замовлень, власний support-менеджер зроблять роботу офісу ще ефективнішою.
        </div>
      </div>
      <div class="why__item">
        <div class="why__item-content">
          <h3><span class="why__icon why__icon--3"></span>Доступно</h3>
          Використовуючи локальні продукти і виробляючи понад 3 000 обідів щодня, ми робимо доступні ланчі для кожної компанії.
        </div>
      </div>
    </div>
  </div>
</section>



<%= _.template(require('./../includes/footer.html'))(data) %>