<% var data = {
  title: "Gudfood",
}; %>

<%= _.template(require('./../includes/header.html'))(data) %>

<section class="hero" id="top">
  <div class="hero__social">
    <a href="https://www.facebook.com/GUDfoodbar/" target="_blank">facebook</a>
    <a href="https://www.instagram.com/gudfoodatwork/" target="_blank">instagram</a>
  </div>
  <a href="#why" class="hero__scroll nav__link">↓</a>
  <div class="hero__logo">
    <div class="wrapper">
      <div class="hero__logo-wrapper">
        <a href="" class="hero__logo-link"></a>
      </div>
    </div>
  </div>
  <div class="wrapper" style="position:relative">
    <h2 class="hero__title">Сучасні гарячі <span>обіди</span> <br> для вашого офісу</h2>
    <a href="" class="send-form-toggle red-button">Надіслати заявку</a>
    <a href="https://www.youtube.com/watch?v=MvQzcWD43Ow" class="hero__play" data-fancybox>Відео</a>
  </div>
  <div class="hero__form">
    <div class="wrapper">
        <div class="hero__form-wrapper">
          <form action="">
            <div class="form-row">
              <div class="form-item">
                <input class="form-input" type="text" name="" id="" placeholder="E-mail">
              </div>
              <div class="form-item">
                <input class="form-input" type="text" name="" id="" placeholder="Ім’я">
              </div>
            </div>
            <div class="form-row">
              <div class="form-item">
                <input class="form-input" type="text" name="" id="" placeholder="Телефон">
              </div>
              <div class="form-item">
                <input class="form-input" type="text" name="" id="" placeholder="Компанія">
              </div>
            </div>
            <button type="submit" class="btn-submit">Надіслати заявку</button>
          </form>
        </div>
    </div>
  </div>
</section>

<section class="why" id="why">
  <div class="wrapper">
    <h2>Чому компанії<br>обирають GUDFOOD?</h2>
    <div class="why__list">
      <div class="why__item">
        <div class="why__item-content">
          <h3><span class="why__icon why__icon--1"></span>Cмачно</h3>
          <div class="why__text">Понад 200 рецептів з усіх куточків світу в меню GUD. Тільки свіжі сезонні продукти і великі порції.</div>
        </div>
      </div>
      <div class="why__item">
        <div class="why__item-content">
          <h3><span class="why__icon why__icon--2"></span>Комфортно і просто</h3>
          <div class="why__text">Окремий гарний холодильник, система попередніх замовлень, власний support-менеджер зроблять роботу офісу ще ефективнішою.</div>
        </div>
      </div>
      <div class="why__item">
        <div class="why__item-content">
          <h3><span class="why__icon why__icon--3"></span>Доступно</h3>
          <div class="why__text">Використовуючи локальні продукти і виробляючи понад 3 000 обідів щодня, ми робимо доступні ланчі для кожної компанії.</div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="menu" id="menu">
  <div class="wrapper">
    <h2>Меню GudFood</h2>
    <div class="menu__content">
      <div class="menu__intro">
        <div>
          <p>
            Ми використовуємо рецепти європейської, української, азійської, американської, тайської, італійської кухонь, а наші кухарі оновлюють їх щомісячно.
          </p>
          <a href="" class="menu__all send-form-toggle"><b>Отримати все меню</b></a>
        </div>
      </div>

      <div class="slick-menu">
        <div data-number="01" class="menu__slide">
          <div class="menu__container">
            <div class="menu__text"></div>
            <div class="menu__video">
              <a href="images/menu_main.jpg" data-fancybox="images">
                <img src="images/menu_main.jpg" alt="" >
              </a>
              <!-- <div class="menu__name">Медальйони з яловичини з овочами гриль</div> -->
            </div>
          </div>
        </div>
        <div data-number="02" class="menu__slide">
          <div class="menu__container">
            <div class="menu__text"></div>
            <div class="menu__video">
              <a href="images/47322803_1964442103646883_6225629621824520192_o.jpg" data-fancybox="images">
                <img src="images/47322803_1964442103646883_6225629621824520192_o.jpg" alt="" >
              </a>
              <!-- <div class="menu__name">Медальйони з яловичини з овочами гриль</div> -->
            </div>
          </div>
        </div>
        <div data-number="03" class="menu__slide">
          <div class="menu__container">
            <div class="menu__text"></div>
            <div class="menu__video">
              <a href="images/48273077_1978525952238498_5381916427903041536_o.jpg" data-fancybox="images">
                <img src="images/48273077_1978525952238498_5381916427903041536_o.jpg" alt="" >
              </a>
              <!-- <div class="menu__name">Медальйони з яловичини з овочами гриль</div> -->
            </div>
          </div>
        </div>
        <div data-number="04" class="menu__slide">
          <div class="menu__container">
            <div class="menu__text"></div>
            <div class="menu__video">
              <a href="images/48355061_1973090632782030_8578690221590183936_o.jpg" data-fancybox="images">
                <img src="images/48355061_1973090632782030_8578690221590183936_o.jpg" alt="" >
              </a>
              <!-- <div class="menu__name">Медальйони з яловичини з овочами гриль</div> -->
            </div>
          </div>
        </div>
        <div data-number="05" class="menu__slide">
          <div class="menu__container">
            <div class="menu__text"></div>
            <div class="menu__video">
              <a href="images/48357666_1988862837871476_5705827412369997824_o.jpg" data-fancybox="images">
                <img src="images/48357666_1988862837871476_5705827412369997824_o.jpg" alt="" >
              </a>
              <!-- <div class="menu__name">Медальйони з яловичини з овочами гриль</div> -->
            </div>
          </div>
        </div>
        <div data-number="06" class="menu__slide">
          <div class="menu__container">
            <div class="menu__text"></div>
            <div class="menu__video">
              <a href="images/48368345_1983932615031165_6831727564025757696_o.jpg" data-fancybox="images">
                <img src="images/48368345_1983932615031165_6831727564025757696_o.jpg" alt="" >
              </a>
              <!-- <div class="menu__name">Медальйони з яловичини з овочами гриль</div> -->
            </div>
          </div>
        </div>
        <div data-number="07" class="menu__slide">
          <div class="menu__container">
            <div class="menu__text"></div>
            <div class="menu__video">
              <a href="images/49294857_2017478288343264_7459159862916677632_o.jpg" data-fancybox="images">
                <img src="images/49294857_2017478288343264_7459159862916677632_o.jpg" alt="" >
              </a>
              <!-- <div class="menu__name">Медальйони з яловичини з овочами гриль</div> -->
            </div>
          </div>
        </div>
        <div data-number="08" class="menu__slide">
          <div class="menu__container">
            <div class="menu__text"></div>
            <div class="menu__video">
              <a href="images/52757212_2087596924664733_7539415922457444352_o.jpg" data-fancybox="images">
                <img src="images/52757212_2087596924664733_7539415922457444352_o.jpg" alt="" >
              </a>
              <!-- <div class="menu__name">Медальйони з яловичини з овочами гриль</div> -->
            </div>
          </div>
        </div>
        <div data-number="09" class="menu__slide">
          <div class="menu__container">
            <div class="menu__text"></div>
            <div class="menu__video">
              <a href="images/53255460_2097688780322214_8017499065866518528_o.jpg" data-fancybox="images">
                <img src="images/53255460_2097688780322214_8017499065866518528_o.jpg" alt="" >
              </a>
              <!-- <div class="menu__name">Медальйони з яловичини з овочами гриль</div> -->
            </div>
          </div>
        </div>
        <div data-number="10" class="menu__slide">
          <div class="menu__container">
            <div class="menu__text"></div>
            <div class="menu__video">
              <a href="images/54435235_2108109762613449_2735175353235406848_o.jpg" data-fancybox="images">
                <img src="images/54435235_2108109762613449_2735175353235406848_o.jpg" alt="" >
              </a>
              <!-- <div class="menu__name">Медальйони з яловичини з овочами гриль</div> -->
            </div>
          </div>
        </div>
        <div data-number="11" class="menu__slide">
          <div class="menu__container">
            <div class="menu__text"></div>
            <div class="menu__video">
              <a href="images/55849455_2135647636526328_6765009761093025792_o.jpg" data-fancybox="images">
                <img src="images/55849455_2135647636526328_6765009761093025792_o.jpg" alt="" >
              </a>
              <!-- <div class="menu__name">Медальйони з яловичини з овочами гриль</div> -->
            </div>
          </div>
        </div>
        <div data-number="12" class="menu__slide">
          <div class="menu__container">
            <div class="menu__text"></div>
            <div class="menu__video">
              <a href="images/56770543_2145901262167632_8703568208197582848_o.jpg" data-fancybox="images">
                <img src="images/56770543_2145901262167632_8703568208197582848_o.jpg" alt="" >
              </a>
              <!-- <div class="menu__name">Медальйони з яловичини з овочами гриль</div> -->
            </div>
          </div>
        </div>
        
        
      </div>
    </div>
    
  </div>
</section>

<section class="howitworks" id="how">
  <div class="wrapper">
    <h2>Як це працює?</h2>
    <div class="slick-howitworks">
      <div data-number="01" class="howitworks__slide">
        <div class="howitworks__container">
          <div class="howitworks__text">
            Ваш співробітник робить попереднє замовлення в нашій онлайн-системі.
          </div>
          <div class="howitworks__video">
            <img src="/images/how1.png" alt="">
          </div>
        </div>
      </div>
      <div data-number="02" class="howitworks__slide">
        <div class="howitworks__container">
          <div class="howitworks__text">
            У зручний час ми доставляємо замовлення у рефрижераторах.
          </div>
          <div class="howitworks__video">
            <img src="/images/how2.png" alt="">
          </div>
        </div>
      </div>
      <div data-number="03" class="howitworks__slide">
        <div class="howitworks__container">
          <div class="howitworks__text">
            Співробітник забирає з холодильника свій сніданок/обід/вечерю у зручний для нього час.
          </div>
          <div class="howitworks__video">
            <img src="/images/how3.png" alt="">
          </div>
        </div>
      </div>
      <div data-number="04" class="howitworks__slide">
        <div class="howitworks__container">
          <div class="howitworks__text">
            Насолоджується смаком<br>улюблених страв.
          </div>
          <div class="howitworks__video">
            <img src="/images/how4.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="conception" id="conc">
  <div class="wrapper">
    <h2>Концепція</h2>
    <div class="conception__content">
      <div class="conception__text">
        <p>Протягом останніх п’яти років
          ми поступово змінювали ринок корпоративного харчування Києва, перевіряли гіпотези і постійно пробували щось нове. І у нас вийшло!</p>
        <p>Ми створили сервіс сучасних гарячих обідів для офісів. <br>
          Ми взяли за основу ідею, що кожен співробітник має отримати на обід ту страву, яку він би замовив
          у своєму улюбленому кафе або ресторані, але в рамках бюджету компанії.</p>
        
        <a href="" class="conception__link send-form-toggle">Надіслати заявку</a>
      </div>
      <div class="conception__image">
        <img src="/images/koncept_52365679_2077015535722872_1755086360571543552_o.jpg" alt="">
      </div>
    </div>
  </div>
</section>

<section class="pack">
  <div class="wrapper">
    <h2>Упаковка</h2>
    <div class="pack__content">
      <div class="pack__text">
        <p>Ми можемо організувати збір тари у вашому офісі, адже наші ланч-бокси вироблені з екологічних матеріалів, які піддаються переробці. <br> Вони абсолютно безпечні для довкілля. 
        </p>
        <p>На кожному ланч-бокс розміщено <span style="white-space: nowrap;">QR-код</span>, зісканувавши який, можна залишити відгук, який ми одразу прочитаємо.</p>
      </div>
    </div>
  </div>
</section>

<section class="budget" id="bud">
  <div class="wrapper">
    <h2>Бюджет на 1-го<br>співробітника на день</h2>
    <div class="budget__content">
      <div class="budget__item">
        <div class="budget__price">
          120-140 <small>грн</small>
        </div>
        <p>
          <b>Гаряча страва</b> <br>
          250 грн з гарніром
        </p>
        <p>
          <b>Суп/салат/десерти</b> <br>
          на вибір
        </p>
        <ul class="list">
          <li>Онлайн-система замовлень</li>
          <li>Безкоштовна доставка</li>
          <li>Маркування продукції</li>
        </ul>
      </div>
      <div class="budget__item budget__item--second">
        <p>
          <b>Гаряча страва</b> <br>
          350 грн з гарніром
        </p>
        <p>
          <b>Суп/салат/десерти</b> <br>
          на вибір
        </p>
        <ul class="list">
          <li>Онлайн-система замовлень</li>
          <li>Безкоштовна доставка</li>
          <li>Маркування продукції з ПІБ</li>
          <li>Окремі пакети</li>
        </ul>
        <div class="budget__price budget__price--second">
          160-200 <small>грн</small>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="degustation" id="deg">
  <div class="wrapper">
    <div class="degustation__content">
      <div class="degustation__text">
        Безкоштовна<br>
        дегустація
        <br>
        <br>
        <a href="" class="send-form-toggle"><b>Замовити</b></a>
      </div>
      <div class="degustation__video">
        <a href="https://www.youtube.com/watch?v=tuWUIRguHk0" class="hero__play" data-fancybox>Відео</a>
      </div>
    </div>
  </div>
</section>

<section class="steps" id="steps">
  <div class="wrapper">
    <h2>5 легких кроків для старту</h2>
    <div class="steps__item steps__item--1">
      <div class="steps__number">1</div>
      <h4 class="steps__title">Аналіз</h4>
      <div class="steps__text">Кожен офіс унікальний! Ми проводимо аналіз розміру компанії, смаків, дієтичних особливостей і уподобань співробітників у кожному офісі.
      </div>
    </div>

    <div class="steps__item steps__item--2">
      <div class="steps__number">2</div>
      <h4 class="steps__title">Дегустація</h4>
      <div class="steps__text">Безкоштовна дегустація</div>
    </div>

    <div class="steps__item steps__item--3">
      <div class="steps__number">3</div>
      <h4 class="steps__title">Вибір</h4>
      <div class="steps__text">Оберіть бюджет. Ми можемо запропонувати різні варіанти і підлаштуватися під вимоги компанії.</div>
    </div>

    <div class="steps__item steps__item--4">
      <div class="steps__number">4</div>
      <h4 class="steps__title">Встановлення</h4>
      <div class="steps__text">Встановлення GUDFOOD bar (нашого вітринного холодильника) безкоштовне.</div>
    </div>

    <div class="steps__item steps__item--5">
      <div class="steps__number">5</div>
      <h4 class="steps__title">Щастя</h4>
      <div class="steps__text">Ваша компанія — найкраща і вже користується сучасним сервісом, який забезпечує якісне смачне харчування
для ваших співробітників.</div>
    </div>
  </div>
</section>

<section class="clients" id="clients">
  <div class="wrapper">
    <h2>Наші клієнти</h2>
    <div class="slick-clients">
      <div data-number="01" class="clients__slide">
        <div class="clients__container">
          <div class="clients__text">
            Може, секрет успішних компаній в тому,<br> чим вони обідають?<br> Спитали в IT-компанії Genesis.

          </div>
          <div class="clients__video" style="background-image: url('/images/client-genesys.jpg')">
            <a href="https://www.youtube.com/watch?v=tuWUIRguHk0" class="hero__play" data-fancybox></a>
          </div>
        </div>
      </div>
      <div data-number="02" class="clients__slide">
        <div class="clients__container">
          <div class="clients__text">
            Tickets Consolidator обирає GudFood,<br> бо це швидко, просто, смачно і щодня свіже.

          </div>
          <div class="clients__video" style="background-image: url('/images/client-tickets.jpg')">
            <a href="https://www.youtube.com/watch?v=Nf-k2_GqkvM" class="hero__play" data-fancybox></a>
          </div>
        </div>
      </div>
      <div data-number="03" class="clients__slide">
        <div class="clients__container">
          <div class="clients__text">
            Створюючи креатив, витрачаєш багато енергії. <br> Щоб поновити її, Banda Agency організували<br> корпоративне харчування.

          </div>
          <div class="clients__video" style="background-image: url('/images/client-banda.jpg')">
            <a href="https://www.youtube.com/watch?v=mZYmoqOjtaM" class="hero__play" data-fancybox></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="expirenza" id="exp">
  <div class="wrapper">
    <h2>Ми користуємося платформою зворотнього зв’язку <span>Expirenza</span></h2>
  </div>

  <div class="expirenza__content">
    <div class="wrapper">
      <a href="https://expirenza.com/" target="_blank">Дізнайся більше</a>
    </div>
  </div>

</section>

<section class="footer" id="contact">
  <div class="wrapper">
    <h2><span>Подзвоніть нам зараз</span><br> і отримайте sample-меню<br> для вашого офісу</h2>

    <div class="footer__content">
      <div class="footer__tel">
        <div class="footer__messengers"><b><a href="https://t.me/vikagudfood">Telegram</a> / <a href="viber://chat?number=+380961171635">Viber</a></Viber> / <a href="https://wa.me/+380961171635">Whatsapp</a></b></div>
        <div class="footer__tel-number"><b><a href="tel:+380961171635">+380 68 368 41 84</a></b></div>
      </div>
      <div class="footer__social">
        <a href="https://www.facebook.com/GUDfoodbar/" target="_blank">facebook</a>
        <a href="https://www.instagram.com/gudfoodatwork/" target="_blank">instagram</a>
      </div>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="wrapper">
      <div class="footer__bottom-content">
        Дизайн сайта — <a href=""><b>Havas Kyiv design</b></a> <br>
        © GudFood 2019. Працюємо з 2011 року.
      </div>
      
    </div>
  </div>
</section>

<section class="order">

  <div class="order__close">×</div>
  <div class="sidebar__logo"></div>

  <div class="wrapper">
    <form action="form2.php" method="post" id="post2" onsubmit="ga('send', 'event', 'forma1', 'zaiava');">
        <div class="form-row">
					<div class="form-item">
						<input class="form-input" type="text" name="email" id="email2" placeholder="E-mail">
					</div>
					<div class="form-item">
						<input class="form-input" type="text" name="name" id="name2" placeholder="Ім’я">
					</div>
        </div>
        <div class="form-row">
					<div class="form-item">
						<input class="form-input" type="text" name="phone" id="phone2" placeholder="Телефон">
					</div>
					<div class="form-item">
						<input class="form-input" type="text" name="company" id="company2" placeholder="Компанія">
					</div>
        </div>
				<button class="btn-submit" type="submit" class="fb" onclick="ga('send', 'event', 'knopka', 'zakaz');">Надіслати заявку</button>
			</form>
			<h2 id="form2-ok" style="display: none;">Спасибо, ваша заявка отправлена</h2>

  </div>
</section>



<%= _.template(require('./../includes/footer.html'))(data) %>