@import url('https://fonts.googleapis.com/css?family=Oswald:500&display=swap&subset=cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,700&display=swap&subset=cyrillic');
@import "~slick-carousel/slick/slick.css";
@import "~@fancyapps/fancybox/dist/jquery.fancybox.min.css";

//@import "~bootstrap/scss/bootstrap";

@mixin mobile {
    @media only screen and (max-width: 1023px) {
        @content;
    }
}

button, input {
  -webkit-appearance: none;
}

$red: #ff503c;
$grey: #dedfe1;

* {
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Mono', monospace;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  margin: 0;
  color: #000;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 4rem;
  font-weight: 500;
  margin: 0;
  text-transform: uppercase;
  line-height: 1.2;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  //border: 1px solid #000;
  padding: 0 100px;
}

.wrapper {
  width: 100%;
  max-width: 1274px;
  //border: 1px solid #000;
  margin: auto;
}

.sidebar {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50px;
  background: $grey;
  padding: 80px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  &__logo {
    width: 100%;
    height: 40px;
    background-image: url('/images/g.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 11px 40px;
  }

  &__text {
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
    width: 300px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
  }
}

#nav-icon4 {
  width: 26px;
  height: 45px;
  position: relative;
  margin: 0px auto;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #000;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
}

#nav-icon4 span:nth-child(1) {
  top: 0px;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 10px;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  top: 20px;
  width: 70%;
  transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
  transform: rotate(45deg);
  top: -3px;
  left: 3px;
}

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 15px;
  left: 3px;
  width: 100%;
}

.nav-layer {
  position: fixed;
  z-index: 100;
  left: 50px;
  top: 0;
  bottom: 0;
  right: 0;
  background: $grey;
  display: flex;
  justify-content: center;
  align-items: center;

  //display: none;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in-out;

  &.open {
    visibility: visible;
    opacity: 1;
    transition: all 0.2s ease-in-out;
  }


  &:after {
    content: "";
    position: absolute;
    z-index: 91;
    right: 0;
    bottom: 0;
    top: 0;
    left: 60%;
    background: $red;
  }

  &:before {
    content: "";
    position: absolute;
    z-index: 92;
    right: 0;
    bottom: 0;
    left: 0;
    height: 190px;
    background-image: url('/images/gud.svg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

  &__content {
    //border: 1px solid #000;
    width: 100%;
    position: relative;
    z-index: 93;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 200px;
  }

  &__navigation {
    width: 60%;
    display: flex;
    justify-content: center;
  }

  &__contacts {
    width: 40%;
    padding-left: 100px;
  }
}

.nav {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    font-family: 'Oswald', sans-serif;
    font-size: 26px;
    text-transform: uppercase;
    line-height: 1.2;
    
    a {
      text-decoration: none;
      color: #fff;
      position: relative;

      &:hover {
        color: #000;

        &:before {
          content: "→";
          font-family: 'IBM Plex Mono', monospace;
          position: absolute;
          left: -34px;
          top: -6px;
          font-size: 36px;
        }
      }
    }
  }
}

//=================================================================

.hero {
  background-image: url('/images/hero-bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  color: #fff;
  position: relative;

  &__title {
    padding-bottom: 140px;

    span {
      color: $red;
    }
  }

  &__logo {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding-top: 80px;
  }

  &__logo-wrapper {
    padding-left: 16%;
  }

  &__logo-link {
    background-image: url('/images/logo.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 111px;
    height: 41px;
  }

  &__form {
    
    position: absolute;
    left: 0;
    right: 0;
    bottom: 80px;
  }

  &__form-wrapper {
    padding: 0px 16% 0;
  }

  &__play {
    color: #fff;
    font-size: 18px;
    position: absolute;
    right: 100px;
    top: 80px;
    text-decoration: none;

    &:hover {
      color: $red;
    }

    &:before {
      content: "";
      display: inline-block;
      width: 55px;
      height: 55px;
      border: 1px solid #fff;
      border-radius: 100%;
      margin: auto 30px -20px 0;
      background-image: url('/images/play.svg');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 16px 16px;
    }
  }

  &__social {
    position: absolute;
    z-index: 90;
    right: -70px;
    top: 150px;
    transform: rotate(90deg);

    a {
      color: $red;
      text-decoration: none;
      margin-left: 20px;

      &:hover {
        color: #fff;
      }
    }
  }

  &__scroll {
    position: absolute;
    z-index: 95;
    right: 20px;
    bottom: 70px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    color: $red;
    font-size: 40px;

    &:hover {
      color: #fff;
    }
  }
}

//=================================================================

.why {
  flex-direction: column;

  &__list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
  }

  &__item {
    width: 33.3333%;
    
  }

  &__item-content {
    padding-left: 49%;

    h3 {
      margin-bottom: 50px;
    }
  }

  &__icon {
    display: inline-block;
    //border: 1px solid #000;
    width: 75px;
    height: 75px;
    margin: 0 30px -32px -105px;
    background-position: center center;
    background-repeat: no-repeat;

    &--1 {
      background-image: url('/images/why1.svg');
      background-size: 75px 72px;
    }

    &--2 {
      background-image: url('/images/why2.svg');
      background-size: 70px 52px;
    }

    &--3 {
      background-image: url('/images/why3.svg');
      background-size: 70px 70px;
    }
  }
}

//=================================================================

.menu {
  background: $red;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    bottom: 0;
    width: 38%;
    background: $grey;
  }

  .wrapper {
    z-index: 2;
  }
}

//=================================================================

.howitworks {
  height: auto;
  padding: 100px 100px 300px;
  border: 1px solid #000;
}

//=================================================================

.conception {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    bottom: 0;
    width: 38%;
    background: $red;
  }

  .wrapper {
    z-index: 2;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    margin-top: -60px;
  }

  &__text {
    width: 50%;
    padding-left: 16%;
    padding-right: 60px;
    padding-top: 140px;
    //font-size: 18px;

    p {
      margin: 0 0 2rem;
    }

    a {
      font-weight: bold;
      color: inherit;
    }
  }

  &__image {
    width: 50%;
  }
}

//=================================================================

.pack {
  position: relative;
  background: url(/images/pack.jpg) no-repeat center center;
  background-size: cover;

  .wrapper {
    z-index: 2;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    margin-top: -60px;
  }

  &__text {
    width: 50%;
    padding-left: 16%;
    padding-right: 80px;
    padding-top: 140px;
    padding-bottom: 100px;
    //font-size: 18px;

    p {
      margin: 0 0 2rem;
    }

    a {
      font-weight: bold;
      color: inherit;
    }
  }

  &__image {
    width: 50%;
  }
}

//=================================================================

.budget {
  height: auto;
  min-height: 100vh;
  
  h2 {
    position: relative;
    z-index: 2;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: 50%;
    padding-left: 16%;

    &--second {
      padding-top: 170px;
    }
  }

  &__price {
    font-family: 'Oswald', sans-serif;
    white-space: nowrap;
    font-size: 230px;
    color: $red;
    margin-left: -270px;
    margin-top: -60px;
    line-height: 1;
    letter-spacing: -14px;

    &--second {
      margin-top: 0;
    }

    small {
      font-size: 16px;
      letter-spacing: 2px;
      position: relative;
      left: -40px;
    }
  }
}

//=================================================================

.degustation {
  .wrapper {
    height: 640px;
    background-image: url('/images/degustation.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: #fff;
    width: 68%;
  }

  &__text {
    position: relative;

    &:before {
      content: "";
      display: block;
      width: 50px;
      height: 2px;
      background: #fff;
      position: absolute;
      left: -80px;
      top: 10px;
    }

    a {
      color: inherit;
    }
  }

  &__video {
    .hero__play {
      position: relative;
      right: 0px;
      top: 20px;
    }
  }
}

//=================================================================

.steps {
  height: auto;

  h2 {
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    z-index: 3;
  }

  &__item {
    position: relative;
    width: 400px;

    &--1 {
      margin: 0 0 270px 32%;
    }

    &--2 {
      margin: 0 0 230px 48%;
    }

    &--3 {
      margin: 0 0 270px 32%;
    }

    &--4 {
      margin: 0 0 230px 48%;
    }

    &--5 {
      margin: 0 0 200px 32%;
    }
  }

  &__title {
    position: relative;

    &:before {
      content: "";
      display: block;
      width: 50px;
      height: 2px;
      background: #000;
      position: absolute;
      left: -70px;
      top: 12px;
    }
  }

  &__number {
    font-family: 'Oswald', sans-serif;
    white-space: nowrap;
    font-size: 230px;
    color: $red;
    line-height: 1;
    letter-spacing: -14px;
    position: absolute;
    top: -205px;
    left: -190px;
  }
}

//=================================================================

.clients {
  height: auto;
  padding: 0 100px 300px;
  border: 1px solid #000;
}

//=================================================================

.expirenza {
  color: #fff;
  background: #000;
  background-image: url('/images/expirenza.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  h2 {
    span {
      color: $red;
    }
  }

  a {
    color: inherit;
    font-weight: bold;
    margin-left: 16%;

    &:hover {
      color: $red;
    }
  }

  &__content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 160px;
  }
}

//=================================================================

.footer {
  position: relative;

  h2 {
    span {
      color: $red;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    padding: 100px 0 200px;
  }

  &__messengers {
    position: relative;

    &:before {
      content: "→";
      position: absolute;
      left: -40px;
      top: -25px;
      font-size: 40px;
    }
  }

  &__tel {
    width: 60%;
    padding-left: 16%;
  }

  &__tel-number {
    font-size: 28px;
  }

  &__social {
    width: 40%;

    a {
      color: $red;
      margin-right: 20px;
    }
  }

  &__bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    font-size: 14px;
  }

  &__bottom-content {
    padding-left: 60%;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      left: 16%;
      bottom: 3px;
      height: 3px;
      width: 100px;
      background: $red;
    }

    a {
      color: inherit;
    }
  }
}

// ================================================
// ================================================
// ================================================

.form-row {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px;
}

.form-item {
  width: 50%;
  padding-right: 30px;
}

.form-input {
  width: 100%;
  font-size: 18px;
  padding: 10px;
  font-family: 'IBM Plex Mono', monospace;

  border: none;
  border-bottom: 1px solid #fff;
  background: none;
  color: #fff;
}

.btn-submit {
  background: $red;
  color: #fff;
  font-size: 18px;
  border: none;
  padding: 15px 20px;
  font-family: 'IBM Plex Mono', monospace;
  cursor: pointer;
  display: inline-block;
  margin-top: 30px;

  &:hover {
    color: #000;
    background: #fff;
  }
}


.fancybox-bg {
  background: #383f52;
}

.fancybox-content {
  border-radius: 5px;
}

.popup-transparent .fancybox-content {
  background: transparent;
  color: #fff;
  text-align: center;

  h4 {
    font-size: 21px;
    max-width: 300px;
  }
}

.list {
  margin-left: 0;
  padding-left: 0;
  list-style: none;

  li {
    &:before {
      content: "+";
      color: $red;
      margin-right: 10px;
      font-weight: 600;
    }
  }
}
