@import url('https://fonts.googleapis.com/css?family=Oswald:500&display=swap&subset=cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,700&display=swap&subset=cyrillic');
@import "~slick-carousel/slick/slick.css";
@import "~@fancyapps/fancybox/dist/jquery.fancybox.min.css";

//@import "~bootstrap/scss/bootstrap";

@mixin mobile {
    @media only screen and (max-width: 1023px) {
        @content;
    }
}

button, input {
  -webkit-appearance: none;
}

$red: #ff503c;
$grey: #dedfe1;

* {
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Mono', monospace;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  margin: 0;
  color: #000;

  &.scroll {
    overflow: hidden;
  }
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 4rem;
  font-weight: 500;
  margin: 0;
  text-transform: uppercase;
  line-height: 1.2;

  @include mobile {
    font-size: 2.5rem;
  }
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  //border: 1px solid #000;
  padding: 0 100px;

  @include mobile {
    overflow: hidden;
    padding: 0 20px;
  }
  
}

.wrapper {
  width: 100%;
  max-width: 1274px;
  //border: 1px solid #000;
  margin: auto;
}

.sidebar {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50px;
  background: $grey;
  padding: 80px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  @include mobile {
    bottom: auto;
    right: 0;
    padding: 5px 15px;
    width: auto;
    flex-direction: row;
  }

  &__logo {
    width: 100%;
    height: 40px;
    background-image: url('/images/g.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 11px 40px;

    @include mobile {
      width: 100px;
      height: 36px;
      margin: 2px 0;
      order: 2;
      background-image: url('/images/logo-black.svg');
      background-size: cover;
      position: relative;
      z-index: 120;
    }    
  }

  &__menu-toggle {
    @include mobile {
      //margin: 6px 0 0 6px;
    }
  }

  &__text {
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
    width: 300px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;

    @include mobile {
      display: none;
    }
  }
}

#nav-icon4 {
  width: 26px;
  height: 26px;
  position: relative;
  margin: 0px auto;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #000;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
}

#nav-icon4 span:nth-child(1) {
  top: 0px;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 10px;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  top: 20px;
  width: 70%;
  transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
  transform: rotate(45deg);
  top: -3px;
  left: 3px;
}

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 15px;
  left: 3px;
  width: 100%;
}

.nav-layer {
  position: fixed;
  z-index: 100;
  left: 50px;
  top: 0;
  bottom: 0;
  right: 0;
  background: $grey;
  display: flex;
  justify-content: center;
  align-items: center;

  //display: none;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in-out;

  @include mobile {
    left: 0;
    top: 50px;
  }

  &.open {
    visibility: visible;
    opacity: 1;
    transition: all 0.2s ease-in-out;
  }


  &:after {
    content: "";
    position: absolute;
    z-index: 91;
    right: 0;
    bottom: 0;
    top: 0;
    left: 60%;
    background: $red;

    @include mobile {
      display: none;
    }
  }

  &:before {
    content: "";
    position: absolute;
    z-index: 92;
    right: 0;
    bottom: 0;
    left: 0;
    height: 190px;
    background-image: url('/images/gud.svg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% auto;

    @include mobile {
      display: none;
    }
  }

  &__content {
    //border: 1px solid #000;
    width: 100%;
    position: relative;
    z-index: 93;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 200px;

    @include mobile {
      padding: 0;
    }
  }

  &__navigation {
    width: 60%;
    display: flex;
    justify-content: center;

    @include mobile {
      width: 100%;
    }
  }

  &__contacts {
    width: 40%;
    padding-left: 100px;

    a {
      color: #000 !important;
      text-decoration: none;
    }

    @include mobile {
      display: none;
    }
  }
}

.nav {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    font-family: 'Oswald', sans-serif;
    font-size: 26px;
    text-transform: uppercase;
    line-height: 1.2;
    
    a {
      text-decoration: none;
      color: #fff;
      position: relative;

      @include mobile {
        color: #000;
        display: block;
        margin: 20px 20px;

        &:hover {
          color: $red;
        }
      }

      &:hover {
        color: #000;

        &:before {
          content: "→";
          font-family: 'IBM Plex Mono', monospace;
          position: absolute;
          left: -34px;
          top: -6px;
          font-size: 36px;

          @include mobile {
            display: none;
          }
        }
      }
    }
  }
}

.red-button {
  background: $red;
  text-align: center;
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 15px;
  font-size: 18px;

}

.button_disabled {
  background: $red !important;
  text-align: center;
  color: #fff !important;
  cursor: default !important;
}

//=================================================================

.hero {
  background-image: url('/images/hero-bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  color: #fff;
  position: relative;

  &__title {
    padding-bottom: 140px;

    @include mobile {
      font-size: 3.5rem;
      padding-bottom: 40px;
    }

    span {
      color: $red;
    }
  }

  &__logo {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding-top: 80px;

    @include mobile {
      display: none;
    }
  }

  &__logo-wrapper {
    padding-left: 16%;
  }

  &__logo-link {
    background-image: url('/images/logo.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 111px;
    height: 41px;
  }

  &__form {
    
    position: absolute;
    left: 0;
    right: 0;
    bottom: 80px;
    
  }

  &__form-wrapper {
    padding: 0px 16% 0;

    @include mobile {
      display: none;
    }
  }

  &__play {
    color: #fff;
    font-size: 18px;
    position: absolute;
    right: 100px;
    top: 80px;
    text-decoration: none;

    @include mobile {
      display: none;
    }

    &:hover {
      color: $red;
    }

    &:before {
      content: "";
      display: inline-block;
      width: 55px;
      height: 55px;
      border: 1px solid #fff;
      border-radius: 100%;
      margin: auto 30px -20px 0;
      background-image: url('/images/play.svg');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 16px 16px;
    }
  }

  &__social {
    position: absolute;
    z-index: 90;
    right: -70px;
    top: 150px;
    transform: rotate(90deg);

    @include mobile {
      display: none;
    }

    a {
      color: $red;
      text-decoration: none;
      margin-left: 20px;

      &:hover {
        color: #fff;
      }
    }
  }

  &__scroll {
    position: absolute;
    z-index: 95;
    right: 20px;
    bottom: 70px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    color: $red;
    font-size: 40px;

    @include mobile {
      right: auto;
      left: 10px;
    }

    &:hover {
      color: #fff;
    }
  }

  .red-button {
    display: none;

    @include mobile {
      display: block;
    }
  }
}

//=================================================================

.why {
  flex-direction: column;

  @include mobile {
    padding-top: 80px;
    padding-bottom: 60px;
    height: auto;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;

    @include mobile {
      flex-direction: column;
      padding-top: 20px;
    }
  }

  &__item {
    width: 33.3333%;

    @include mobile {
      width: 100%;
      margin-bottom: 30px;
    }
    
  }

  &__item-content {
    padding-left: 49%;

    @include mobile {
      padding-left: 105px;
    }

    h3 {
      margin-bottom: 50px;
    }
  }

  &__text {
    @include mobile {
      margin-left: -105px;
    }
  }

  &__icon {
    display: inline-block;
    //border: 1px solid #000;
    width: 75px;
    height: 75px;
    margin: 0 30px -32px -105px;
    background-position: center center;
    background-repeat: no-repeat;

    &--1 {
      background-image: url('/images/why1.svg');
      background-size: 75px 72px;
    }

    &--2 {
      background-image: url('/images/why2.svg');
      background-size: 70px 52px;
    }

    &--3 {
      background-image: url('/images/why3.svg');
      background-size: 70px 70px;
    }
  }
}

//=================================================================

.menu {
  background: $red;
  position: relative;

  @include mobile {
    height: auto;
    padding-top: 80px;
    padding-bottom: 160px;
  }

  h2 {
    position: relative;
    z-index: 11;
  }

  &:after {
    content: "";
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    bottom: 0;
    width: 38%;
    background: $grey;

    @include mobile {
      width: 30%;
    }
  }

  .wrapper {
    z-index: 2;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    //justify-content: center;
    align-items: center;
  }

  &__text {
    width: 45%;
    padding-right: 150px;

    @include mobile {
      display: none;
    }
  }

  &__video {
    width: 55%;
    position: relative;
    //padding-bottom: 90px;

    @include mobile {
      width: 100%;
    }

    img {
      width: 100%;
    }
  }

  .slick-current {
    .menu__name {
      visibility: visible !important;
    }
  }

  &__name {
    padding: 35px 30px 0 40%;
    visibility: hidden;

    @include mobile  {
      padding: 30px 32% 170px 0;
      position: relative;
      height: 100px;
    }
  }

  .slick-dots {
    left: 45%;
    bottom: -50px;
    z-index: 10;
    width: 80px;
    color: #fff;
    //margin-left: -120px;

    @include mobile {
      left: auto;
      right: 0;
      width: 70px;
      color: #000;
    }

    li {
      width: 100%;
      height: 20px;
      background: $red;

      @include mobile {
        background: #dedfe1;
      }
    }
  }

  .slick-prev, .slick-next {
    z-index: 10;
    bottom: -60px;
    border-color: #fff;
    color: #fff;

    @include mobile {
      bottom: -70px;
    }
  }

  &__content {
    position: relative;
    padding-bottom: 0px;
    margin-left: 16%;
    margin-top: -60px;

    @include mobile {
      margin: 0;
    }
  }

  &__intro {
    position: absolute;
    z-index: 9;
    top: 0;
    bottom: 0;
    left: 0;
    width: 45%;
    background: $red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-right: 60px;

    @include mobile {
      position: relative;
      background: none;
      width: 100%;
      padding: 10px 32% 40px 0;
    }
  }

  &__all {
    color: #000;
  }
}

.slick-menu {
  
}

//=================================================================

.howitworks {
  @include mobile {
    height: auto;
    padding-top: 80px;
  }

  h2 {
    margin-bottom: 50px;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    //justify-content: center;
    align-items: center;

    @include mobile {
      flex-direction: column;
    }
  }

  &__text {
    width: 45%;
    padding-right: 150px;

    @include mobile {
      width: 100%;
      padding-right: 50px;
      padding-bottom: 30px;
    }
  }

  &__video {
    width: 55%;

    @include mobile {
      width: 100%;
    }

    img {
      max-width: 100%;
    }
  }

  .slick-dots {
    left: 45%;

    @include mobile {
      left: auto;
      right: 0;
      width: 80px;
    }
  }
}

.slick-howitworks {
  position: relative;
  padding-bottom: 100px;
  margin-left: 16%;

  @include mobile {
      margin-left: 0;
    }
}

//=================================================================

.conception {
  position: relative;

  @include mobile {
    height: auto;
  }

  h2 {
    @include mobile {
      background: #fff;
      margin: 0 -20px;
      padding: 80px 20px 0;
    }
  }

  &:after {
    content: "";
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    bottom: 0;
    width: 38%;
    background: $red;
  }

  .wrapper {
    z-index: 2;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    margin-top: -60px;

    @include mobile {
      flex-direction: column;
      margin-top: 0;
    }
  }

  &__link {
    display: inline-block;
  }

  &__text {
    width: 50%;
    padding-left: 16%;
    padding-right: 60px;
    padding-top: 140px;
    //font-size: 18px;

    @include mobile {
      width: auto;
      background: #fff;
      margin: 0 -20px;
      padding: 40px 20px;
    }

    p {
      margin: 0 0 2rem;
    }

    a {
      font-weight: bold;
      color: inherit;
    }
  }

  &__image {
    width: 50%;

    @include mobile {
      width: 100%;
      padding: 30px 0;

      img {
        width: 100%;
      }
    }
  }
}

//=================================================================

.pack {
  position: relative;
  background: url(/images/pack.jpg) no-repeat center center;
  background-size: cover;

  @include mobile {
    height: auto;
    padding-top: 80px;
    background: none;
  }

  .wrapper {
    z-index: 2;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    margin-top: -60px;

    @include mobile {
      background: url(/images/pack-mobile.jpg) no-repeat center bottom;
      background-size: 100%;
      margin: 0 -20px;
    }
  }

  &__text {
    width: 50%;
    padding-left: 16%;
    padding-right: 80px;
    padding-top: 140px;
    padding-bottom: 100px;
    //font-size: 18px;

    @include mobile {
      width: 100%;
      padding: 30px 20px 440px;
    }
    

    p {
      margin: 0 0 2rem;
    }

    a {
      font-weight: bold;
      color: inherit;
    }
  }

  &__image {
    width: 50%;
  }
}

//=================================================================

.budget {
  height: auto;
  min-height: 100vh;

  @include mobile {
    padding-top: 80px;
    margin-top: -100px;
  }
  
  h2 {
    position: relative;
    z-index: 2;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: 50%;
    padding-left: 16%;

    @include mobile {
      width: 100%;
      padding: 30px 0 30px !important;
      border-bottom: solid 2px $red;
    }

    &--second {
      padding-top: 170px;

      @include mobile {
        border-bottom: none !important;
        padding-bottom: 60px !important;
      }
    }
  }

  &__price {
    font-family: 'Oswald', sans-serif;
    white-space: nowrap;
    font-size: 230px;
    color: $red;
    margin-left: -270px;
    margin-top: -60px;
    line-height: 1;
    letter-spacing: -14px;

    @include mobile {
      font-size: 100px;
      margin: 0;
      letter-spacing: -5px;
    }

    &--second {
      margin-top: 0;
    }

    small {
      font-size: 16px;
      letter-spacing: 2px;
      position: relative;
      left: -40px;

      @include mobile {
        left: -10px;
      }
    }
  }
}

//=================================================================

.degustation {
  @include mobile {
    padding: 0;
    height: auto;
  }

  .wrapper {
    height: 640px;
    background-image: url('/images/degustation.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mobile {
      height: 350px;
      padding: 0 20px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: #fff;
    width: 68%;

    @include mobile {
      width: 100px;
    }
  }

  &__text {
    position: relative;

    &:before {
      content: "";
      display: block;
      width: 50px;
      height: 2px;
      background: #fff;
      position: absolute;
      left: -80px;
      top: 10px;
    }

    a {
      color: inherit;
    }
  }

  &__video {
    .hero__play {
      position: relative;
      right: 0px;
      top: 20px;
    }
  }
}

//=================================================================

.steps {
  height: auto;

  @include mobile {
    padding-top: 30px;
  }

  h2 {
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    z-index: 3;

    @include mobile {

    }
  }

  &__item {
    position: relative;
    width: 400px;

    @include mobile {
      width: 100%;
      margin: 0 0 60px 0px !important;
      padding-left: 80px;
    }

    &--1 {
      margin: 0 0 270px 32%;
    }

    &--2 {
      margin: 0 0 230px 48%;

      @include mobile {
        margin: 0 0 100px 0px !important;
      }
    }

    &--3 {
      margin: 0 0 270px 32%;
    }

    &--4 {
      margin: 0 0 230px 48%;
    }

    &--5 {
      margin: 0 0 10px 32%;
    }
  }

  &__title {
    position: relative;

    &:before {
      content: "";
      display: block;
      width: 50px;
      height: 2px;
      background: #000;
      position: absolute;
      left: -70px;
      top: 12px;

      @include mobile {
        width: 20px;
        left: -35px;

        display: none;
      }
    }
  }

  &__number {
    font-family: 'Oswald', sans-serif;
    white-space: nowrap;
    font-size: 230px;
    color: $red;
    line-height: 1;
    letter-spacing: -14px;
    position: absolute;
    top: -205px;
    left: -190px;

    @include mobile {
      font-size: 120px;
      top: -40px;
      left: 0px;
    }
  }
}

//=================================================================

.clients {
  //height: auto;
  //padding: 100px 100px 200px;

  @include mobile {
    height: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-top: -60px;
  }

  h2 {
    margin-bottom: 50px;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;

    @include mobile {
      flex-direction: column;
    }
  }

  &__text {
    width: 45%;

    @include mobile {
      width: 100%;
      padding-bottom: 40px;
    }
  }

  &__video {
    width: 55%;
    height: 300px;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    @include mobile {
      width: 100%;
    }
  }

  .slick-dots {
    left: 45%;

    @include mobile {
      left: auto;
      right: 0;
      width: 80px;
    }
  }

  .hero__play {
    left: 50%;
    right: auto;
    top: 50%;
    margin: -30px 0 0 -25px;

    @include mobile {
      display: block;
    }
  }
}

.slick-clients {
  //border: solid 1px red;
  position: relative;
  padding-bottom: 100px;
  margin-left: 16%;

  @include mobile {
      margin: 0;
    }
}



//=================================================================

.expirenza {
  color: #fff;
  background: #000;
  background-image: url('/images/expirenza.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  @include mobile {
    height: 100vh;
  }

  h2 {
    span {
      color: $red;
    }
  }

  a {
    color: inherit;
    font-weight: bold;
    margin-left: 16%;

    @include mobile {
      margin: 0 0 0 20px;
    }

    &:hover {
      color: $red;
    }
  }

  &__content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 160px;

    @include mobile {
      //bottom: 50px;
    }
  }
}

//=================================================================

.footer {
  position: relative;

  @include mobile {
    padding-top: 80px;
    justify-content: start;
    align-content: flex-start;
    flex-direction: column;
    //height: auto;

    .wrapper {
      margin: 0 auto;
    }
  }



  h2 {
    span {
      color: $red;
    }

    @include mobile {
      br {
        display: none;
      }
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    padding: 100px 0 200px;

    @include mobile {
      padding-top: 60px;
    }
  }

  &__messengers {
    position: relative;

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        color: $red;
      }
    }

    &:before {
      content: "→";
      position: absolute;
      left: -40px;
      top: -25px;
      font-size: 40px;

      @include mobile {
        display: none;
      }
    }
  }

  &__tel {
    width: 60%;
    padding-left: 16%;

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        color: $red;
      }
    }

    @include mobile {
      width: 100%;
      padding: 0;
    }
  }

  &__tel-number {
    font-size: 28px;
  }

  &__social {
    width: 40%;

    @include mobile {
      width: 100%;
      padding: 30px 0 0;
    }

    a {
      color: $red;
      margin-right: 20px;
    }
  }

  &__bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    font-size: 14px;

    @include mobile {
      bottom: 30px;
    }
  }

  &__bottom-content {
    padding-left: 60%;
    position: relative;

    @include mobile {
      padding: 0 20px;
    }

    &:before {
      content: "";
      position: absolute;
      left: 16%;
      bottom: 3px;
      height: 3px;
      width: 100px;
      background: $red;

      @include mobile {
        display: none;
      }
    }

    a {
      color: inherit;
    }
  }
}

// ================================================================

.order {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $grey;
  z-index: 100;

  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in-out;

  &.open {
    visibility: visible;
    opacity: 1;
    transition: all 0.2s ease-in-out;
  }

  .btn-submit {
    @include mobile {
      display: block;
      width: 100%;
    }
  }

  .form-input {
    color: #000;
  }

  .form-row {
    @include mobile {
      width: 100%;
      padding-bottom: 0px;
      margin: 0;
    }
  }

  .form-item {
    @include mobile {
      width: 100%;
      padding-right: 0px;
    }
  }

  .sidebar__logo {
    position: absolute;
    right: 15px;
    top: 5px;
    display: none;

    @include mobile {
      display: block;
    }
  }

  &__close {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 50px;
    font-weight: bold;
    line-height: 30px;
    padding: 10px;
    cursor: pointer;

    @include mobile {
      right: auto;
      left: 0;
      top: -3px;
    }

    &:hover {
      color: $red;
    }
  }
}

// ================================================================

// ================================================

.slick-list {
  //border: 1px solid #000;
}

.slick-prev, .slick-next {
  position: absolute;
  bottom: 0;
  width: 54px;
  height: 54px;
  border: solid 1px #000;
  border-radius: 100%;
  background: none;
  overflow: hidden;
  text-indent: 9999px;
  cursor: pointer;
  opacity: 0.7;
  outline: none;

  &:hover {
    opacity: 1;
  }

  &:after {
    content: "‹";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-indent: 0px;
    text-align: center;
    line-height: 45px;
    font-size: 35px;
  }

  &.slick-disabled {
    opacity: 0.2;
    pointer-events: none;
    cursor: default;
  }
}

.slick-prev {
  left: 0;
}

.slick-next {
  left: 70px;

  &:after {
    content: "›";
  }
}

.slick-dots {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 200px;
  bottom: 14px;
  list-style: none;

  li {
    position: absolute;
    left: 0;
    bottom: 0;
    pointer-events: none;
    white-space: nowrap;
    background: #fff;
    z-index: 1;

    &.slick-active {
      z-index: 2;
    }
  }

}

// ================================================
// ================================================

.form-row {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.form-item {
  width: 50%;
  padding-right: 30px;
  padding-bottom: 30px;
  position: relative;

  label.error {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5px;
    color: $red;
    font-size: 14px;
  }
}

.form-input {
  width: 100%;
  font-size: 18px;
  padding: 10px 0;
  font-family: 'IBM Plex Mono', monospace;

  border: none;
  border-bottom: 1px solid #fff;
  background: none;
  color: #fff;

  &.error {
    border-bottom: 1px solid $red;
  }
}

.btn-submit {
  background: $red;
  color: #fff;
  font-size: 18px;
  border: none;
  padding: 15px 20px;
  font-family: 'IBM Plex Mono', monospace;
  cursor: pointer;
  display: inline-block;
  margin-top: 30px;

  &[disabled] {
    background: $red !important;
    text-align: center;
    color: #fff !important;
    cursor: default !important;
  }

  &:hover {
    color: #000;
    background: #fff;
  }
}


.fancybox-bg {
  background: #000;
}

.fancybox-content {
  border-radius: 5px;
}

.popup-transparent .fancybox-content {
  background: transparent;
  color: #fff;
  text-align: center;

  h4 {
    font-size: 21px;
    max-width: 300px;
  }
}

.list {
  margin-left: 0;
  padding-left: 0;
  list-style: none;

  li {
    &:before {
      content: "+";
      color: $red;
      margin-right: 10px;
      font-weight: 600;
    }
  }
}
